@font-face {
    font-family: 'AvenirLT-Black';
    src: url('/fonts/AvenirLTStd-Black/AvenirLTStd-Black.eot');
    src: url('/fonts/AvenirLTStd-Black/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AvenirLTStd-Black/AvenirLTStd-Black.woff') format('woff'),
    url('/fonts/AvenirLTStd-Black/AvenirLTStd-Black.ttf') format('truetype'),
    url('/fonts/AvenirLTStd-Black/AvenirLTStd-Black.otf') format('opentype'),
    url('/fonts/AvenirLTStd-Black/AvenirLTStd-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'AvenirLT-Black';
        src:url('/fonts/AvenirLTStd-Black/AvenirLTStd-Black.svg') format('svg');
    }
}

@font-face {
    font-family: 'AvenirLT-Book';
    src: url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.eot');
    src: url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.woff') format('woff'),
    url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.ttf') format('truetype'),
    url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.otf') format('opentype'),
    url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'AvenirLT-Book';
        src:url('/fonts/AvenirLTStd-Book/AvenirLTStd-Book.svg') format('svg');
    }
}

.black{font-family: 'AvenirLT-Black';}
.book{font-family: 'AvenirLT-Book';}
.btn{border-radius: 0;}
body{
    font-family: 'AvenirLT-Book';
}
@media (min-width: 1200px) {
    .container {
        max-width: 930px;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: inherit; margin: 10px 0 10px 0;}
p{margin-bottom: 6px;}
.texto-rojo{color: red;}
.texto-verde{color: green;}
/*.bordered-heading{color:#0a6cad; border-bottom: 4px solid; padding-bottom: 10px; margin-top: 20px; margin-bottom: 0;}*/
.bordered-heading{ border-bottom: 4px solid;  border-bottom-color: #0059BA ; padding-bottom: 10px; margin-top: 20px; margin-bottom: 0;color:#0a6cad;font-weight: bold;}
.no-margin-bottom{margin-bottom: 0}
input[type=text],input[type=password],input[input=email],select,textarea{border: 4px solid #d9dadc;}
.form-control{border: 4px solid #d9dadc; margin-bottom: 12px; padding: 4px 12px;}
input:focus{border-color: #0a6cad;box-shadow: none;}
.form-control:focus{border-color: #0a6cad;box-shadow: none;}
a,a:active,a:focus{outline: none;}
.gradbtn{height: 33px; background: url('/img/boton.png') repeat-x; display: inline-block; text-transform: uppercase; color: #fff; padding: 0 20px; border: none; margin-top: 0;}
a.gradbtn{padding-top: 10px; height: 46px; text-decoration: none; font-size: 18px;}
button.gradbtn{height: 46px; font-size: 18px;}
a.gradbtn:hover{color:#fff;}
.gradbtn:hover{background-position: bottom center;}
p.subtitulo-comentario{border-bottom: 4px solid #d9dadb;padding-bottom: 6px;margin-bottom: 0; color: #0A6CAD; font-size: 24px;}
p.subtitulo-comentario-mensaje{border-bottom: 4px solid #646567;display: inline-block; padding: 9px 0 6px 0; text-transform: uppercase; font-size: 13px;}
.upper{text-transform: uppercase;}
.capitalize{text-transform: capitalize;}
.logo-inter{/*max-width: 72px;*/ margin: 13px 10px 13px 0; float: left;}
.ptop5{padding-top: 5px;}
.ptop10{padding-top: 10px;}
.ptop20{padding-top: 20px;}
.ptop22{padding-top: 22px;}
.ptop24{padding-top: 24px;}
.ptop26{padding-top: 26px;}
.ptop30{padding-top: 30px;}
.ptop40{padding-top: 40px;}
.ptop50{padding-top: 50px;}
.ptop60{padding-top: 60px;}
.ptop80{padding-top: 80px;}
.ptop90{padding-top: 90px;}
.ptop150{padding-top: 150px;}

.pbottom20{padding-bottom: 20px;}
.pbottom30{padding-bottom: 30px;}

.pleft10{padding-left: 10px;}
.pright10{padding-right: 10px;}
.pleft35{padding-left: 35px;}
.pright35{padding-right: 35px;}

.mleft6px{margin-left: 6px;}
.mleft8px{margin-left: 8px;}
.mleft10px{margin-left: 10px;}
.mleft11px{margin-left: 11px;}
.mleft13px{margin-left: 13px;}
.mleft15px{margin-left: 15px;}
.mleft26{margin-left: 26px;}
.mleft45px{margin-left: 45px;}

.mtop3{margin-top: 3px;}
.mtop15{margin-top: 15px;}
.mtop30{margin-top: 30px;}
.mtop35{margin-top: 35px;}

.mbottom24{margin-bottom: 24px;}

.panel-group{
    margin-bottom: 5px;
}

div.full-width{
    width: 100%;
    overflow: hidden;
}

.verde{
    color: #62bb46;
}

#heading{
    width: 100%;
    background-color: /*#130e3d*/  #0059ba;
    position: relative;
    z-index: -1;    
}

#heading .col-md-24{
    background-image:url('/img/heading/miintersat.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:top right;
    color: #fff;
    height: 342px;
}

div.heading-text{
	margin-top: 105px;
    width: 375px;
}

div.heading-text h1{font-size: 59px; line-height: 34px;}

div.heading-text h1 > span.book{font-size: 39px; display: inline-block; margin-bottom: 14px;}

div.heading-text h2{font-size: 39px;}

div.heading-text p{font-size: 15px;}

input#remember{
	float: none;
}

a.mitooltip{text-decoration: none; color: inherit;}

.brand img{
    height: 40px;
}

.bottom{position: absolute; bottom: 0;}

.uppercase-text{text-transform: uppercase;}

/* Forms */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size:15px; background-color: #f0f3f3;}

/* Tablas */
table.tabla-inter{border-spacing: 10px;border-collapse: separate;margin-left: -10px;}
table.tabla-inter th{vertical-align: bottom; border-bottom: 4px solid #0A6CAD; color: #646567; padding-bottom: 8px;}
table.tabla-inter td{vertical-align: top; padding-bottom: 6px;}
table.tabla-inter th, td{font-size: 13px;}
table.tabla-inter tr td{border-bottom: 4px solid #d9dadb;}
table.tabla-inter tr td:first-child{border-bottom: 4px solid #646567; text-transform: uppercase;}

.form-horizontal .control-label{margin-bottom: 5px; padding-top: 0;}

div.controls > input.form-control{margin-bottom: 9px;}

label.valid {
    width: 24px;
    height: 24px;
    background: url('/img/icon-set-kudos/20x20/Done.png') center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: relative;
    top: -6px;
}

label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.form-control{color: #006fb9;}

/* Fin Forms */

/** enlaces de contacto **/
.tt-wrapper{
    height: 30px;
    list-style: none outside none;
    padding: 0;
    position: relative;
    right: 5px;
    top: 16px;
    width: 170px;
}
.tt-wrapper li{
    float: left;
}
.tt-wrapper li a{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 2px;
    outline: none;
    position: relative;
    text-indent: -9999px;
}
.tt-twitter{
    background-image: url('/img/contact-links/contacto_inter_twitter.jpg');
    background-position: top center;
}
.tt-facebook{
    background-image: url('/img/contact-links/contacto_inter_facebook.jpg');
    background-position: top center;
}
.tt-telefono{
    background-image: url('/img/contact-links/contacto_inter_0500-inter.jpg');
    background-position: top center;
}
.tt-oficinas{
    background-image: url('/img/contact-links/contacto_inter_oficinas_puntos.jpg');
    background-position: top center;
}
.tt-chat{
    background-image: url('/img/contact-links/contacto_inter_chat.jpg');
    background-position: top center;
}
.tt-wrapper li a:hover{
    background-position: bottom center;
}
/** fin enlaces de contacto **/

/* Responsive Tables */

.nota-tabla{font-size: 10px;}

.resp-table{
    display:table;	/* Defines a Table */
    font-size:14px;
    border-bottom:2px solid #dddddd;
    color:#8d8d8d;
    margin:10px 0;
    width: 100%;
}

.resp-table-head{
    display: table-header-group; /* Defines a table header group */
    font-size: 18px;
}

.resp-table-head .resp-column{ /* Column inside the table-head */
    background:#fff;
    border: none;
    /*    border-right:1px solid #5d5d5d;
        border-bottom:none;*/
}

.resp-table-head div{border-bottom: 4px solid;padding-bottom: 5px;}

/*.resp-table-head .resp-column:hover{  Column hover inside the table-head
    background:#000000;
    transition: all 1s;
}*/
.resp-row{
    display:table-row; /* Defines a table row */
    font-size: 12px;
}
.resp-row .resp-column:nth-child(1){ /* First column in a row */
    /*    border-left:1px solid #eeeeee;*/
}
.resp-row:last-child .resp-column{  /* column in a last row */
    border-bottom:none;
}
.resp-column{
    color:#646567;
    display:table-cell; /* Defines a table cell */
    padding:10px 0;
    border-bottom:3px solid #dadadc;
    /*    border-right:1px solid #eeeeee;*/
}
/*.resp-column:hover{
    background:#e6e7e8;
}*/
.resp-column input[type="checkbox"]{
    margin: 0;
}

/* Responsive table */
@media all and (max-width: 768px){
    .resp-table,
    .resp-row,
    .resp-column,
    .resp-column:before{
        display:block;	/* Converts a table, table row, table column and table column:before into a block element */
    }
    .resp-table,
    .resp-row .resp-column:last-child{
        border-bottom:none;
    }
    .resp-table-head{
        position:absolute;	/* Hides table head but not using display none */
        top:-1000em;
        left:-1000em;
    }
    .resp-row{
/*        border:1px solid #eeeeee;
        border-top:2px solid #dddddd;*/
/*        border-bottom:2px solid #dddddd;*/
        margin:20px 0;
        text-transform: uppercase;
    }
    .resp-row .resp-column:nth-child(1){ /* first column of the row */
        border-left:none;
    }
    .resp-row .resp-column:last-child{ /* last column of the row */
        border-right:none;
    }
    .resp-row:last-child .resp-column,
    .resp-column{ /* Column in the last row and column */
        border-bottom:1px solid #eeeeee;
    }
    .resp-column:before{ /* prints the value of data-label attribute before the column data */
        font-weight:bold;
        padding-right:20px;
        font-size:12px;
        content:" "attr(data-label)" ";	/* call the attribute value of data-label and adds a string // */        
    }
}

@media all and (min-width: 800px){
    .resp-column{text-align: center;}
}

/* Fin Responsive Tables */

/*Sticky Footer*/
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* Set the fixed height of the footer here */
#footer {
    height: 20px;
}
#footer {
    text-align: center;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* Fin Sticky Footer*/

/*Menú desplegable */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Common styles of menus */

.dl-menuwrapper {
    width: 100%;
    max-width: 50px;
    float: left;
    position: relative;
    top: 6px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    -moz-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
}

.dl-menuwrapper:first-child {
    margin-right: 100px;
}

/* Versión 1
.dl-menuwrapper button {
    background: #000;
    border: none;
    width: 48px;
    height: 45px;
    text-indent: -900em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
    background: #000;
}

.dl-menuwrapper button:after {
    content: '';
    position: absolute;
    width: 68%;
    height: 5px;
    background: #fff;
    top: 10px;
    left: 16%;
    box-shadow:
        0 10px 0 #fff,
        0 20px 0 #fff;
}
*/

/*Versión 2*/
.dl-menuwrapper button {
    background: #fff;
    border: none;
    width: 48px;
    height: 45px;
    text-indent: -900em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active
{
    background: #fff;
}

.dl-menuwrapper ul {
    background-color: rgba(0,0,0,0.8);
}

.dl-menuwrapper button:after {
    content: '';
    position: absolute;
    width: 68%;
    height: 5px;
    background: #000;
    top: 10px;
    left: 16%;
    box-shadow:
        0 10px 0 #000,
        0 20px 0 #000;
}

.dl-menuwrapper ul {
    padding: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.dl-menuwrapper li {
    position: relative;
}

.dl-menuwrapper li a {
    position: relative;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    outline: none;
    border-bottom: 1px solid #000;
    padding-bottom: 1px;
}

.no-touch .dl-menuwrapper li a:hover {
    border-bottom: 1px solid #6EBE45;
    text-decoration: none;
}

.dl-menuwrapper li.dl-back > a {
    padding-left: 30px;
    background: rgba(0,0,0,0.1);
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
    position: absolute;
    bottom: -13px;
    /*left: 128px;*/    left: 160px;
    line-height: 45px;
    font-family: 'icomoon';
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\e000";

}

.dl-menuwrapper li.dl-back:after {
    left: 0;
    color: #fff;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
    right: 10px;
    color: #fff;
}

.dl-menuwrapper .dl-menu {
    margin: 6px 0 0 0;
    position: absolute;
    z-index: 10;
    /*width: 200px;*/    width: 210px;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

ul.dl-menu{
    height: 339px;
    padding-left: 22px;
    padding-top: 22px;
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
    display: none;
}

/*
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link.
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
    display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
    display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    margin: 0;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
    -webkit-animation: MenuAnimOut1 0.4s;
    -moz-animation: MenuAnimOut1 0.4s;
    animation: MenuAnimOut1 0.4s;
}

.dl-menu.dl-animate-out-2 {
    -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
    -moz-animation: MenuAnimOut2 0.3s ease-in-out;
    animation: MenuAnimOut2 0.3s ease-in-out;
}

.dl-menu.dl-animate-out-3 {
    -webkit-animation: MenuAnimOut3 0.4s ease;
    -moz-animation: MenuAnimOut3 0.4s ease;
    animation: MenuAnimOut3 0.4s ease;
}

.dl-menu.dl-animate-out-4 {
    -webkit-animation: MenuAnimOut4 0.4s ease;
    -moz-animation: MenuAnimOut4 0.4s ease;
    animation: MenuAnimOut4 0.4s ease;
}

.dl-menu.dl-animate-out-5 {
    -webkit-animation: MenuAnimOut5 0.4s ease;
    -moz-animation: MenuAnimOut5 0.4s ease;
    animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
    50% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -webkit-transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut2 {
    100% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut3 {
    100% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut4 {
    100% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut5 {
    100% {
        -webkit-transform: translateY(40%);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut1 {
    50% {
        -moz-transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -moz-transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        -moz-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut2 {
    100% {
        -moz-transform: translateX(-100%);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut3 {
    100% {
        -moz-transform: translateZ(300px);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut4 {
    100% {
        -moz-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut5 {
    100% {
        -moz-transform: translateY(40%);
        opacity: 0;
    }
}

@keyframes MenuAnimOut1 {
    50% {
        transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@keyframes MenuAnimOut2 {
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes MenuAnimOut3 {
    100% {
        transform: translateZ(300px);
        opacity: 0;
    }
}

@keyframes MenuAnimOut4 {
    100% {
        transform: translateZ(-300px);
        opacity: 0;
    }
}

@keyframes MenuAnimOut5 {
    100% {
        transform: translateY(40%);
        opacity: 0;
    }
}

.dl-menu.dl-animate-in-1 {
    -webkit-animation: MenuAnimIn1 0.3s;
    -moz-animation: MenuAnimIn1 0.3s;
    animation: MenuAnimIn1 0.3s;
}

.dl-menu.dl-animate-in-2 {
    -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
    -moz-animation: MenuAnimIn2 0.3s ease-in-out;
    animation: MenuAnimIn2 0.3s ease-in-out;
}

.dl-menu.dl-animate-in-3 {
    -webkit-animation: MenuAnimIn3 0.4s ease;
    -moz-animation: MenuAnimIn3 0.4s ease;
    animation: MenuAnimIn3 0.4s ease;
}

.dl-menu.dl-animate-in-4 {
    -webkit-animation: MenuAnimIn4 0.4s ease;
    -moz-animation: MenuAnimIn4 0.4s ease;
    animation: MenuAnimIn4 0.4s ease;
}

.dl-menu.dl-animate-in-5 {
    -webkit-animation: MenuAnimIn5 0.4s ease;
    -moz-animation: MenuAnimIn5 0.4s ease;
    animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
    0% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn2 {
    0% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn3 {
    0% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn5 {
    0% {
        -webkit-transform: translateY(40%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn1 {
    0% {
        -moz-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -moz-transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        -moz-transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn2 {
    0% {
        -moz-transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn3 {
    0% {
        -moz-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn4 {
    0% {
        -moz-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn5 {
    0% {
        -moz-transform: translateY(40%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes MenuAnimIn1 {
    0% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes MenuAnimIn2 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn3 {
    0% {
        transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn4 {
    0% {
        transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn5 {
    0% {
        transform: translateY(40%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
    -webkit-animation: SubMenuAnimIn1 0.4s ease;
    -moz-animation: SubMenuAnimIn1 0.4s ease;
    animation: SubMenuAnimIn1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
    -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
    -moz-animation: SubMenuAnimIn2 0.3s ease-in-out;
    animation: SubMenuAnimIn2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
    -webkit-animation: SubMenuAnimIn3 0.4s ease;
    -moz-animation: SubMenuAnimIn3 0.4s ease;
    animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
    -webkit-animation: SubMenuAnimIn4 0.4s ease;
    -moz-animation: SubMenuAnimIn4 0.4s ease;
    animation: SubMenuAnimIn4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
    -webkit-animation: SubMenuAnimIn5 0.4s ease;
    -moz-animation: SubMenuAnimIn5 0.4s ease;
    animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
    0% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn2 {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn3 {
    0% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn5 {
    0% {
        -webkit-transform: translateZ(-200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
}

@-moz-keyframes SubMenuAnimIn1 {
    0% {
        -moz-transform: translateX(50%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes SubMenuAnimIn2 {
    0% {
        -moz-transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes SubMenuAnimIn3 {
    0% {
        -moz-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
}

@-moz-keyframes SubMenuAnimIn4 {
    0% {
        -moz-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
}

@-moz-keyframes SubMenuAnimIn5 {
    0% {
        -moz-transform: translateZ(-200px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn1 {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn2 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn3 {
    0% {
        transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn4 {
    0% {
        transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn5 {
    0% {
        transform: translateZ(-200px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
    -webkit-animation: SubMenuAnimOut1 0.4s ease;
    -moz-animation: SubMenuAnimOut1 0.4s ease;
    animation: SubMenuAnimOut1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
    -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
    -moz-animation: SubMenuAnimOut2 0.3s ease-in-out;
    animation: SubMenuAnimOut2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
    -webkit-animation: SubMenuAnimOut3 0.4s ease;
    -moz-animation: SubMenuAnimOut3 0.4s ease;
    animation: SubMenuAnimOut3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
    -webkit-animation: SubMenuAnimOut4 0.4s ease;
    -moz-animation: SubMenuAnimOut4 0.4s ease;
    animation: SubMenuAnimOut4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
    -webkit-animation: SubMenuAnimOut5 0.4s ease;
    -moz-animation: SubMenuAnimOut5 0.4s ease;
    animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut2 {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut3 {
    0% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut4 {
    0% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut5 {
    0% {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-200px);
        opacity: 0;
    }
}

@-moz-keyframes SubMenuAnimOut1 {
    0% {
        -moz-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -moz-transform: translateX(50%);
        opacity: 0;
    }
}

@-moz-keyframes SubMenuAnimOut2 {
    0% {
        -moz-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -moz-transform: translateX(100%);
        opacity: 0;
    }
}

@-moz-keyframes SubMenuAnimOut3 {
    0% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -moz-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-moz-keyframes SubMenuAnimOut4 {
    0% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -moz-transform: translateZ(300px);
        opacity: 0;
    }
}

@-moz-keyframes SubMenuAnimOut5 {
    0% {
        -moz-transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -moz-transform: translateZ(-200px);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut1 {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(50%);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut2 {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut3 {
    0% {
        transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        transform: translateZ(-300px);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut4 {
    0% {
        transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        transform: translateZ(300px);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut5 {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        transform: translateZ(-200px);
        opacity: 0;
    }
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
    position: relative;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
    display: block;
}

.no-js .dl-menuwrapper li.dl-back {
    display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
    background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
    content: '';
}

/* Colors for demos */

/* Demo 1 */
.demo-1 .dl-menuwrapper button {
    background: #000;
}

.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active,
.demo-1 .dl-menuwrapper ul {
    background: #000;
}

/* Demo 2 */
.demo-2 .dl-menuwrapper button {
    background: #e86814;
}

.demo-2 .dl-menuwrapper button:hover,
.demo-2 .dl-menuwrapper button.dl-active,
.demo-2 .dl-menuwrapper ul {
    background: #D35400;
}

/* Demo 3 */
.demo-3 .dl-menuwrapper button {
    background: #08cbc4;
}

.demo-3 .dl-menuwrapper button:hover,
.demo-3 .dl-menuwrapper button.dl-active,
.demo-3 .dl-menuwrapper ul {
    background: #00b4ae;
}

/* Demo 4 */
.demo-4 .dl-menuwrapper button {
    background: #90b912;
}

.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
    background: #79a002;
}

/* Demo 5 */
.demo-5 .dl-menuwrapper button {
    background: #744783;
}

.demo-5 .dl-menuwrapper button:hover,
.demo-5 .dl-menuwrapper button.dl-active,
.demo-5 .dl-menuwrapper ul {
    background: #643771;
}

/* Fin menú desplegable */

div.notificacion-factura{
    background-color: #00aeef;
    color: #fff;
    padding: 20px;
}

div.notificacion-error{
    color: #fff;
    padding: 20px 0 20px 60px;
    background-image: url(/img/ico/error.png);
    background-repeat:  no-repeat;
    background-color: #e5352d;
    background-position: 20px center;
}

p.nota-error{
    border-bottom: 4px solid #646567;
    display: inline-block;
    padding: 9px 0 6px 0;
    text-transform: uppercase;
    font-size: 13px;
}

/* disable responsiveness */
/*
body {
	min-width: 970px;
}
*/
/*
.container {
	width: 970px;
	max-width: none !important;
}
*/
.container .navbar-header,
.container .navbar-collapse {
	margin-right: 0;
	margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
	float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
}

.navbar-toggle {
	display: none;
}
.navbar-collapse {
	border-top: 0;
}

.navbar-brand {
	margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
	float: left;
	margin: 0;
}
.navbar-nav > li {
	float: left;
}
.navbar-nav > li > a {
	padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
	float: right;
}

.notificacion-icono img{
    display: inline-block;
    max-width: 128px;
}

/* end disable responsiveness *//*FACTURAS PENDIENTES*/.facts-pendientes{	width:100%;	height:60px;	font-size:24px;	color:#FFFFFF;	background:#00ADEF;	padding:12px;	margin-top:10px;}.cant-pendientes{	float:left;	background: url("/img/notificaciones.png") no-repeat center center;	width:34px;	height:37px;	text-align:center;	margin-right: 10px;}.facts-pendientes-texto{	float:left;}
.texto15{ font-size: 15px;}
.control-group{border-bottom:1px solid #9c9e9f;  margin-bottom: 25px;padding-bottom: 15px;}
#datos-form .control-label{margin-bottom:15px;}
#datos-form .controls span{color:#9c9e9f;}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #heading .col-md-24{
        background-image: none;
        height: auto;
    }
    div.heading-text {
        margin-top: 20px;
        width: 320px;
    }
    #footer{
        padding: 0 50px; margin:0;
    }
    .facts-pendientes{display: none;}
    .bordered-heading{margin-bottom: 0;}
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* Styles */
    .notificacion-icono{
        padding: 100px 0;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}
.centromensajes{width:100%;background:#00ADEF;margin-top:10px;}
.mensajes-texto{float:left;font-size: 16px;color:#FFFFFF;padding:15px;width:100%;background:#00ADEF;margin-top:10px;}

/** olark **/

#habla_window_div{
    width: 100% !important;
    margin:0 !important;
}
#habla_topbar_div{ display: none !important;}
#habla_expanded_div{font-family: "AvenirLT-Book" !important;}
