.css_psr_id_label { }
.css_psr_id_line {text-align:left;}
.css_psr_id_obj {text-align:left;}
.css_psr_sustento_retencion_label { }
.css_psr_sustento_retencion_line {text-align:left;}
.css_psr_sustento_retencion_obj {text-align:left;}
.css_psr_forma_pago_label { }
.css_psr_forma_pago_line { }
.css_psr_forma_pago_obj { }
.css_psr_valor_pago_label { }
.css_psr_valor_pago_line {text-align:left;}
.css_psr_valor_pago_obj {text-align:left;}
.css_psr_estado_label { }
.css_psr_estado_line { }
.css_psr_estado_obj { }
