.css_ti_id_label {text-align:;}
.css_ti_id_line {text-align:left;}
.css_ti_id_obj {text-align:left;}
.css_ti_impuesto_label { }
.css_ti_impuesto_line { }
.css_ti_impuesto_obj { }
.css_ti_descripcion_label { }
.css_ti_descripcion_line { }
.css_ti_descripcion_obj { }
.css_ti_codigo_label { }
.css_ti_codigo_line { }
.css_ti_codigo_obj { }
.css_ti_tarifa_label {text-align:;}
.css_ti_tarifa_line {text-align:left;}
.css_ti_tarifa_obj {text-align:left;}
.css_ti_estado_label { }
.css_ti_estado_line { }
.css_ti_estado_obj { }
